<div class="modal-header">
  <h4 class="modal-title">{{ 'global.error' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</div>
<div class="modal-footer d-flex justify-content-between">
  <button type="button" class="btn btn-outline-dark align-self-end" (click)="dismiss()">{{ 'global.close' | translate }}</button>
</div>
