/* You can add global styles to this file, and also import other style files */
.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.far {
  cursor: pointer;
}

.input-required::after {
  content: " *";
}

.input-invalid {
  border-color: #dc3545;
}

.child-input-invalid input {
  border-color: #dc3545;
}

.error-label {
  color: #dc3545;
  font-size: small;
}

.error-label::before {
  content: "• ";
}
